.Rproj.user
.Rhistory
.RData
.Ruserdata
shared/notebooks/paths
shared/notebooks/patch-chunk-names
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/cbmbbn2w9em1a/000010.error
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/cbmbbn2w9em1a/00000f.csv
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/c48m8qsrti9z7/00000f.csv
shared/notebooks/E875F49D-BG_SciAdv_revision/1/DC4058B8d7b127ec/cxy8stpiv684p/00001f.snapshot
shared/notebooks/E875F49D-BG_SciAdv_revision/1/DC4058B8d7b127ec/cxy8stpiv684p/00001f.png
shared/notebooks/E875F49D-BG_SciAdv_revision/1/DC4058B8d7b127ec/cxy8stpiv684p/00001f.metadata
shared/notebooks/E875F49D-BG_SciAdv_revision/1/DC4058B8d7b127ec/cuigwtp6gjn78/00000f.csv
shared/notebooks/E875F49D-BG_SciAdv_revision/1/DC4058B8d7b127ec/cqforutn52mft/00000f.csv
shared/notebooks/E875F49D-BG_SciAdv_revision/1/DC4058B8d7b127ec/cpdtd6v6fgfvs/00000f.csv
shared/notebooks/E875F49D-BG_SciAdv_revision/1/DC4058B8d7b127ec/cnxz8rk1q3axx/000033.snapshot
shared/notebooks/E875F49D-BG_SciAdv_revision/1/DC4058B8d7b127ec/cnxz8rk1q3axx/000033.png
shared/notebooks/E875F49D-BG_SciAdv_revision/1/DC4058B8d7b127ec/cnxz8rk1q3axx/000033.metadata
shared/notebooks/E875F49D-BG_SciAdv_revision/1/DC4058B8d7b127ec/cnxz8rk1q3axx/000032.png
shared/notebooks/E875F49D-BG_SciAdv_revision/1/DC4058B8d7b127ec/cnxz8rk1q3axx/000032.metadata
shared/notebooks/E875F49D-BG_SciAdv_revision/1/DC4058B8d7b127ec/cnxz8rk1q3axx/000031.png
shared/notebooks/E875F49D-BG_SciAdv_revision/1/DC4058B8d7b127ec/cnxz8rk1q3axx/000031.metadata
shared/notebooks/E875F49D-BG_SciAdv_revision/1/DC4058B8d7b127ec/cnxz8rk1q3axx/000030.png
shared/notebooks/E875F49D-BG_SciAdv_revision/1/DC4058B8d7b127ec/cnxz8rk1q3axx/000030.metadata
shared/notebooks/E875F49D-BG_SciAdv_revision/1/DC4058B8d7b127ec/cnxz8rk1q3axx/00002f.csv
shared/notebooks/E875F49D-BG_SciAdv_revision/1/DC4058B8d7b127ec/cks5zpd55opea/000015.csv
shared/notebooks/E875F49D-BG_SciAdv_revision/1/DC4058B8d7b127ec/cj2ku8h72mmk4/00000f.csv
shared/notebooks/E875F49D-BG_SciAdv_revision/1/DC4058B8d7b127ec/chwdqjdv5mp1k/00000f.csv
shared/notebooks/E875F49D-BG_SciAdv_revision/1/DC4058B8d7b127ec/chunks.json
shared/notebooks/E875F49D-BG_SciAdv_revision/1/DC4058B8d7b127ec/ch7qk004zvgc4/00000f.csv
shared/notebooks/E875F49D-BG_SciAdv_revision/1/DC4058B8d7b127ec/c9781g23el32q/00000f.csv
shared/notebooks/E875F49D-BG_SciAdv_revision/1/DC4058B8d7b127ec/c8err6uz0z9fl/00001f.csv
shared/notebooks/E875F49D-BG_SciAdv_revision/1/DC4058B8d7b127ec/c8err6uz0z9fl/00001e.snapshot
shared/notebooks/E875F49D-BG_SciAdv_revision/1/DC4058B8d7b127ec/c8err6uz0z9fl/00001e.png
shared/notebooks/E875F49D-BG_SciAdv_revision/1/DC4058B8d7b127ec/c8err6uz0z9fl/00001e.metadata
shared/notebooks/E875F49D-BG_SciAdv_revision/1/DC4058B8d7b127ec/c8err6uz0z9fl/00001d.png
shared/notebooks/E875F49D-BG_SciAdv_revision/1/DC4058B8d7b127ec/c8err6uz0z9fl/00001d.metadata
shared/notebooks/E875F49D-BG_SciAdv_revision/1/DC4058B8d7b127ec/c8err6uz0z9fl/00001c.png
shared/notebooks/E875F49D-BG_SciAdv_revision/1/DC4058B8d7b127ec/c8err6uz0z9fl/00001c.metadata
shared/notebooks/E875F49D-BG_SciAdv_revision/1/DC4058B8d7b127ec/c8err6uz0z9fl/00001b.png
shared/notebooks/E875F49D-BG_SciAdv_revision/1/DC4058B8d7b127ec/c8err6uz0z9fl/00001b.metadata
shared/notebooks/E875F49D-BG_SciAdv_revision/1/DC4058B8d7b127ec/c8err6uz0z9fl/00001a.csv
shared/notebooks/DD39560E-Codes_for_figures/1/s/chunks.json
shared/notebooks/DD39560E-Codes_for_figures/1/DC4058B8d7b127ec/chunks.json
omnipathr-log/omnipathr-20251024-2324.log
omnipathr-log/omnipathr-20251024-1955.log
DC4058B8/sources/session-d7b127ec/lock_file
DC4058B8/sources/session-d7b127ec/FA079DBE-contents
DC4058B8/sources/session-d7b127ec/F6048DF3-contents
DC4058B8/sources/session-d7b127ec/F09272DF-contents
DC4058B8/sources/session-d7b127ec/E3EFB38F-contents
DC4058B8/sources/session-d7b127ec/E3EFB38F
DC4058B8/sources/session-d7b127ec/E203CA2B-contents
DC4058B8/sources/session-d7b127ec/DC481FE0-contents
DC4058B8/sources/session-d7b127ec/D92AB377-contents
DC4058B8/sources/session-d7b127ec/D38D0634-contents
DC4058B8/sources/session-d7b127ec/B5CBEB68-contents
DC4058B8/sources/session-d7b127ec/8153251D-contents
DC4058B8/sources/session-d7b127ec/8153251D
DC4058B8/sources/session-d7b127ec/81433079-contents
DC4058B8/sources/session-d7b127ec/81433079
DC4058B8/sources/session-d7b127ec/77B3CDC5-contents
DC4058B8/sources/session-d7b127ec/6394AFC6-contents
DC4058B8/sources/session-d7b127ec/5D191BE7-contents
DC4058B8/sources/session-d7b127ec/59668617-contents
DC4058B8/sources/session-d7b127ec/59668617
DC4058B8/sources/session-d7b127ec/27486F47-contents
DC4058B8/sources/session-d7b127ec/27486F47
DC4058B8/sources/session-d7b127ec/2459691A-contents
DC4058B8/sources/session-d7b127ec/21E2A3EA-contents
DC4058B8/sources/session-d7b127ec/213A9F8A-contents
DC4058B8/sources/session-d7b127ec/213A9F8A
DC4058B8/sources/session-d7b127ec/13FC6133-contents
DC4058B8/sources/session-d7b127ec/07CAB953-contents
DC4058B8/sources/prop/INDEX
DC4058B8/sources/prop/F0097C93
DC4058B8/sources/prop/BE471F24
DC4058B8/sources/prop/8F6FABE4
DC4058B8/sources/prop/0CB063F5
DC4058B8/saved_source_markers
DC4058B8/rmd-outputs
DC4058B8/persistent-state
DC4058B8/pcs/workbench-pane.pper
DC4058B8/pcs/windowlayoutstate.pper
DC4058B8/pcs/source-pane.pper
DC4058B8/pcs/files-pane.pper
DC4058B8/pcs/debug-breakpoints.pper
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/c8err6uz0z9fl/00001a.csv
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/c8err6uz0z9fl/00001b.metadata
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/c8err6uz0z9fl/00001b.png
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/c8err6uz0z9fl/00001c.metadata
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/c8err6uz0z9fl/00001c.png
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/c8err6uz0z9fl/00001d.metadata
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/c8err6uz0z9fl/00001d.png
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/c8err6uz0z9fl/00001e.metadata
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/c8err6uz0z9fl/00001e.png
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/c8err6uz0z9fl/00001e.snapshot
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/c8err6uz0z9fl/00001f.csv
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/c9781g23el32q/00000f.csv
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/ch7qk004zvgc4/00000f.csv
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/chunks.json
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/chwdqjdv5mp1k/00000f.csv
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/cj2ku8h72mmk4/00000f.csv
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/cks5zpd55opea/000015.csv
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/cnxz8rk1q3axx/00002f.csv
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/cnxz8rk1q3axx/000030.metadata
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/cnxz8rk1q3axx/000030.png
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/cnxz8rk1q3axx/000031.metadata
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/cnxz8rk1q3axx/000031.png
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/cnxz8rk1q3axx/000032.metadata
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/cnxz8rk1q3axx/000032.png
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/cnxz8rk1q3axx/000033.metadata
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/cnxz8rk1q3axx/000033.png
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/cnxz8rk1q3axx/000033.snapshot
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/cpdtd6v6fgfvs/00000f.csv
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/cqforutn52mft/00000f.csv
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/cuigwtp6gjn78/00000f.csv
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/cxy8stpiv684p/00001f.metadata
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/cxy8stpiv684p/00001f.png
shared/notebooks/E875F49D-BG_SciAdv_revision/1/s/cxy8stpiv684p/00001f.snapshot
DC4058B8/explorer-cache/8556af66827d44a99e039b83951eae3b
DC4058B8/sources/prop/48C16EBE
DC4058B8/sources/prop/828C2409
DC4058B8/sources/prop/B6B96E6F
DC4058B8/sources/prop/CFDF76BF
DC4058B8/sources/session-101d8cb0/1DCFF3C9-contents
DC4058B8/sources/session-101d8cb0/213A9F8A-contents
DC4058B8/sources/session-101d8cb0/27486F47
DC4058B8/sources/session-101d8cb0/27486F47-contents
DC4058B8/sources/session-101d8cb0/37738526-contents
DC4058B8/sources/session-101d8cb0/402E956B-contents
DC4058B8/sources/session-101d8cb0/4D7C2185-contents
DC4058B8/sources/session-101d8cb0/59668617-contents
DC4058B8/sources/session-101d8cb0/6A67D62A-contents
DC4058B8/sources/session-101d8cb0/7381FE1B-contents
DC4058B8/sources/session-101d8cb0/81433079-contents
DC4058B8/sources/session-101d8cb0/8153251D-contents
DC4058B8/sources/session-101d8cb0/851C1D0F-contents
DC4058B8/sources/session-101d8cb0/8CF045E6-contents
DC4058B8/sources/session-101d8cb0/9771619B-contents
DC4058B8/sources/session-101d8cb0/A25377CC
DC4058B8/sources/session-101d8cb0/A25377CC-contents
DC4058B8/sources/session-101d8cb0/AAA4A22B-contents
DC4058B8/sources/session-101d8cb0/B369E701-contents
DC4058B8/sources/session-101d8cb0/C283491E-contents
DC4058B8/sources/session-101d8cb0/CC11F945-contents
DC4058B8/sources/session-101d8cb0/D21CA6F1
DC4058B8/sources/session-101d8cb0/D21CA6F1-contents
DC4058B8/sources/session-101d8cb0/DA208480-contents
DC4058B8/sources/session-101d8cb0/DDA71183
DC4058B8/sources/session-101d8cb0/DDA71183-contents
DC4058B8/sources/session-101d8cb0/F45A0CE1-contents
DC4058B8/sources/session-101d8cb0/F724B2D3-contents
DC4058B8/sources/session-101d8cb0/lock_file
shared/notebooks/684B83EC-BG_SciAdv_revision/1/s/c77a1j9gpvq83/00000f.csv
shared/notebooks/684B83EC-BG_SciAdv_revision/1/s/c8t3ylktbz4jq/000011.csv
shared/notebooks/684B83EC-BG_SciAdv_revision/1/s/chunks.json
shared/notebooks/684B83EC-BG_SciAdv_revision/1/s/cjysigptesuwl/000013.csv
shared/notebooks/684B83EC-BG_SciAdv_revision/1/s/cjysigptesuwl/000014.metadata
shared/notebooks/684B83EC-BG_SciAdv_revision/1/s/cjysigptesuwl/000014.png
shared/notebooks/684B83EC-BG_SciAdv_revision/1/s/cjysigptesuwl/000015.metadata
shared/notebooks/684B83EC-BG_SciAdv_revision/1/s/cjysigptesuwl/000015.png
shared/notebooks/684B83EC-BG_SciAdv_revision/1/s/cjysigptesuwl/000016.metadata
shared/notebooks/684B83EC-BG_SciAdv_revision/1/s/cjysigptesuwl/000016.png
shared/notebooks/684B83EC-BG_SciAdv_revision/1/s/cjysigptesuwl/000017.metadata
shared/notebooks/684B83EC-BG_SciAdv_revision/1/s/cjysigptesuwl/000017.png
shared/notebooks/684B83EC-BG_SciAdv_revision/1/s/cjysigptesuwl/000017.snapshot
shared/notebooks/684B83EC-BG_SciAdv_revision/1/s/cjysigptesuwl/000018.csv
shared/notebooks/684B83EC-BG_SciAdv_revision/1/s/cmmsvh7yfji9j/00000f.csv
shared/notebooks/684B83EC-BG_SciAdv_revision/1/s/cqqj5sics2q6m/00000f.csv
shared/notebooks/684B83EC-BG_SciAdv_revision/1/s/cvkrhcoerr6a7/000002.metadata
shared/notebooks/684B83EC-BG_SciAdv_revision/1/s/cvkrhcoerr6a7/000002.png
shared/notebooks/684B83EC-BG_SciAdv_revision/1/s/cvkrhcoerr6a7/000002.snapshot
shared/notebooks/684B83EC-BG_SciAdv_revision/1/s/cwadzecfqocyg/00000f.csv
shared/notebooks/9DC37D33-Codes_for_figures/1/DC4058B8101d8cb0/chunks.json
shared/notebooks/9DC37D33-Codes_for_figures/1/s/chunks.json
DC4058B8/sources/per/t/DDA71183-contents
DC4058B8/sources/per/t/DDA71183
DC4058B8/sources/per/t/D21CA6F1-contents
DC4058B8/sources/per/t/D21CA6F1
DC4058B8/sources/per/t/A25377CC-contents
DC4058B8/sources/per/t/A25377CC
DC4058B8/sources/per/t/27486F47-contents
DC4058B8/sources/per/t/27486F47
DC4058B8/explorer-cache/7b06c1ec29f943b788bcf8733affb069
